[package]
name = "dextbird"
version = "0.4.0-alpha"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "dextbird"
crate-type = ["cdylib"]

[dependencies]
async-trait = "0.1.73"
log = "0.4.20"
pyo3 = "0.19.2"
pyo3-asyncio = { version = "0.19.0", features = ["tokio-runtime"] }
pyo3-log = "0.8.3"
songbird = { version = "0.3.2", features = ["driver", "tokio", "yt-dlp"] }
tokio = { version = "1.32.0", features = ["sync"] }
