name: Release package

on:
  push:
    tags:
    - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        target: ["x86_64-unknown-linux-musl", "x86_64-unknown-linux-gnu"]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}
    - name: Install maturin
      run: pip3 install maturin[patchelf]
    - name: Install musl-tools
      if: "matrix.target == 'x86_64-unknown-linux-musl'"
      run: sudo apt-get update && sudo apt-get install musl-tools
    - name: Build library
      run: maturin build -r -o dist --target=${{ matrix.target }}
    - name: Upload wheels
      uses: actions/upload-artifact@v3
      with:
        name: wheels
        path: dist

  release:
    name: Release
    runs-on: ubuntu-latest
    if: "startsWith(github.ref, 'refs/tags/')"
    needs: [ build ]
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: wheels
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: "*"
    - name: Publish to PyPI
      uses: PyO3/maturin-action@v1
      env:
        MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      with:
        command: upload
        args: --skip-existing *
